
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import url('components/banner.css');
@import url('components/container.css');
@import url('components/avatar.css'); 

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}
